In [5]:
import pandas as pd

# Example MultiIndex DataFrame
index = pd.MultiIndex.from_tuples([(0, 0), (0, 1)], names=["N", "id"])
data = {
    'pt': [88.416481, 75.511162],
    'eta': [-1.272924, -1.194886],
    'phi': [-2.729549, 0.0371140],
    'constitu1': [[1, 2, 3], [4, 5]],
    'constitu2': [[1, 2, 3], [4, 5]]
}
df = pd.DataFrame(data, index=index)

print("Original DataFrame:")
print(df)

# Number of times to duplicate each group
num_duplicates = 10

# Create an empty list to store the new rows
duplicated_rows = []

# Loop to copy each group of rows for N
for n in range(num_duplicates):
    # Shift the index by 'n' and append to the new DataFrame
    new_group = df.copy()
    new_group.index = pd.MultiIndex.from_tuples(
        [(n, idx) for idx in new_group.index.get_level_values(1)], names=["N", "id"]
    )
    
    duplicated_rows.append(new_group)

# Concatenate the duplicated groups into a new DataFrame
df_duplicated = pd.concat(duplicated_rows)

print("\nDuplicated DataFrame:")
print(df_duplicated)

Original DataFrame:
             pt       eta       phi  constitu1  constitu2
N id
0 0   88.416481 -1.272924 -2.729549  [1, 2, 3]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114     [4, 5]     [4, 5]

Duplicated DataFrame:
             pt       eta       phi  constitu1  constitu2
N id
0 0   88.416481 -1.272924 -2.729549  [1, 2, 3]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114     [4, 5]     [4, 5]
1 0   88.416481 -1.272924 -2.729549  [1, 2, 3]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114     [4, 5]     [4, 5]
2 0   88.416481 -1.272924 -2.729549  [1, 2, 3]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114     [4, 5]     [4, 5]
3 0   88.416481 -1.272924 -2.729549  [1, 2, 3]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114     [4, 5]     [4, 5]
4 0   88.416481 -1.272924 -2.729549  [1, 2, 3]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114     [4, 5]     [4, 5]
5 0   88.416481 -1.272924 -2.729549  [1, 2, 3]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114     [4, 5]     [4, 5]
6 0   88.416481 -1.272924 -2.729549  [1, 2, 3]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114     [4, 5]     [4, 5]
7 0   88.416481 -1.272924 -2.729549  [1, 2, 3]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114     [4, 5]     [4, 5]
8 0   88.416481 -1.272924 -2.729549  [1, 2, 3]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114     [4, 5]     [4, 5]
9 0   88.416481 -1.272924 -2.729549  [1, 2, 3]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114     [4, 5]     [4, 5]

In [13]:
import pandas as pd

# Original MultiIndex DataFrame
index = pd.MultiIndex.from_tuples([(0, 0), (0, 1)], names=["N", "id"])
data = {
    'pt': [88.416481, 75.511162],
    'eta': [-1.272924, -1.194886],
    'phi': [-2.729549, 0.0371140],
    'constitu1': [[1, 2, 13], [-13]],
    'constitu2': [[1, 2, 3], [13]]  # Modify as needed for testing
}
df = pd.DataFrame(data, index=index)

#print("Original DataFrame:")
#print(df)

# Number of times to duplicate each group
num_duplicates = 10

# Create an empty list to store the new rows
duplicated_rows = []

# Loop to copy each group of rows for N
for n in range(num_duplicates):
    # Shift the index by 'n' and append to the new DataFrame
    new_group = df.copy()
    new_group.index = pd.MultiIndex.from_tuples(
        [(n, idx) for idx in new_group.index.get_level_values(1)], names=["N", "id"]
    )
    
    duplicated_rows.append(new_group)

# Concatenate the duplicated groups into a new DataFrame
df_duplicated = pd.concat(duplicated_rows)

#print("\nDuplicated DataFrame:")
print(df_duplicated)

             pt       eta       phi   constitu1  constitu2
N id
0 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
1 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
2 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
3 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
4 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
5 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
6 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
7 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
8 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
9 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]

In [12]:
# Now, let's loop over N and id to check for the presence of exactly one 13 or -13 in constitu2
for n, id_ in df_duplicated.index:
    constitu2_values = df_duplicated.loc[(n, id_), 'constitu2']
    
    # Check if there is exactly one occurrence of 13 or -13
    count_13 = constitu2_values.count(13)
    count_minus13 = constitu2_values.count(-13)
    
    # Check if there is exactly one element in the list, and that element is 13 or -13
    if len(constitu2_values) == 1 and constitu2_values[0] in [13, -13]:
        print(f"Found exactly one 13 or -13 in N={n}, id={id_}")
        print(f"constitu2: {constitu2_values}\n")

Found exactly one 13 or -13 in N=0, id=1
constitu2: [13]

Found exactly one 13 or -13 in N=1, id=1
constitu2: [13]

Found exactly one 13 or -13 in N=2, id=1
constitu2: [13]

Found exactly one 13 or -13 in N=3, id=1
constitu2: [13]

Found exactly one 13 or -13 in N=4, id=1
constitu2: [13]

Found exactly one 13 or -13 in N=5, id=1
constitu2: [13]

Found exactly one 13 or -13 in N=6, id=1
constitu2: [13]

Found exactly one 13 or -13 in N=7, id=1
constitu2: [13]

Found exactly one 13 or -13 in N=8, id=1
constitu2: [13]

Found exactly one 13 or -13 in N=9, id=1
constitu2: [13]

In [15]:
# Loop to copy each group of rows for N
for n in range(num_duplicates):
    # Shift the index by 'n' and append to the new DataFrame
    new_group = df.copy()
    new_group.index = pd.MultiIndex.from_tuples(
        [(n, idx) for idx in new_group.index.get_level_values(1)], names=["N", "id"]
    )
    
    duplicated_rows.append(new_group)

# Concatenate the duplicated groups into a new DataFrame
df_duplicated = pd.concat(duplicated_rows)

#print("\nDuplicated DataFrame:")
#print(df_duplicated)

# List to store the indices (N, id) to drop
to_drop = []

# Now, let's loop over N and id to check for exactly one element 13 or -13 in constitu2
for n, id_ in df_duplicated.index:
    constitu2_values = df_duplicated.loc[(n, id_), 'constitu2']
    
    # Check if there is exactly one element in the list, and that element is 13 or -13
    if len(constitu2_values) == 1 and constitu2_values[0] in [13, -13]:
        # Store the (N, id) tuple in the to_drop list
        to_drop.append((n, id_))

# Drop the rows with the identified (N, id) pairs
df_cleaned = df_duplicated.drop(index=to_drop)

print("\nCleaned DataFrame (after dropping rows with exactly one 13 or -13):")
print(df_cleaned)

Cleaned DataFrame (after dropping rows with exactly one 13 or -13):
             pt       eta       phi   constitu1  constitu2
N id
0 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
1 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
2 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
3 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
4 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
5 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
6 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
7 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
8 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
9 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
0 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
1 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
2 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
3 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
4 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
5 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
6 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
7 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
8 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
9 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
0 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
1 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
2 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
3 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
4 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
5 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
6 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
7 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
8 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]
9 0   88.416481 -1.272924 -2.729549  [1, 2, 13]  [1, 2, 3]
  1   75.511162 -1.194886  0.037114       [-13]       [13]

<ipython-input-15-b95dc23f816d>:22: PerformanceWarning: indexing past lexsort depth may impact performance.
  constitu2_values = df_duplicated.loc[(n, id_), 'constitu2']

In [65]:
# Function to clean impostor jets
def clean_impostor_jets(df_jets):
    
    for event, index_event in df_jets.index:
        
        print("N: ", event)
        df = df_jets.loc[event]
        df_constitu2 = df['constitu2'].values
        constitu2_values = df_jets.loc[(n, id_), 'constitu2']
        print(constitu2_values)
        #sys.exit("Salimos")

        """
        # Determine if each photon is isolated based on the isolation ratio or if there are no leptons nearby
        isolated_photon_mask = (isolation_ratio < pt_ratio_max) | no_leptons_within_cone

        # Print statements for all variables
        not_isolated_photon_mask = ~isolated_photon_mask        

        # Filter and store the isolated photons with the event number (N) and photon id
        if any(not_isolated_photon_mask):
            # Filter isolated photons
            not_isolated_photons = photons[not_isolated_photon_mask].copy()
            # Add the event number (N) as a column
            #print("N: ", event)
            #isolated_photons['N'] = event
            # Add the photon id as a column
            #isolated_photons['id'] = isolated_photons.index
            index_list = not_isolated_photons.index.tolist()
            #print("id: ", index_list)

                for index_event in index_list:
                    df_photons = df_photons.drop((event, index_event)) 
        """         
    
    return df

In [66]:
# Use the function to clean impostor jets
df_cleaned = clean_impostor_jets(df_duplicated)

#print("\nCleaned DataFrame (after dropping rows with exactly one 13 or -13):")
#print(df_cleaned)

N:  0
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  0
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  1
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  1
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  2
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  2
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  3
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  3
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  4
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  4
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  5
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  5
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  6
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  6
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  7
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  7
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  8
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  8
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  9
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  9
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  0
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  0
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  1
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  1
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  2
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  2
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  3
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  3
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  4
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  4
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  5
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  5
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  6
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  6
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  7

<ipython-input-65-4f682b8a2292>:9: PerformanceWarning: indexing past lexsort depth may impact performance.
  constitu2_values = df_jets.loc[(n, id_), 'constitu2']

N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  7
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  8
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  8
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  9
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  9
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  0
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  0
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  1
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  1
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  2
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  2
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  3
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  3
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  4
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  4
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  5
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  5
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  6
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  6
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  7
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  7
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  8
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  8
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  9
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object
N:  9
N  id
9  1     [13]
   1     [13]
   1     [13]
Name: constitu2, dtype: object